<div class="card card-danger card-outline">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title"><i class="fas fa-exclamation-triangle mr-2"></i><%= errorTitle %></h3>
    </div>
    <div class="card-body">
        <p><%= errorContent %></p>
        <div class="form-group mb-0">
            <a class="btn btn-primary" href="/">الرئيسية</a>
        </div>
    </div>
</div>